body{
    margin: 0;
    padding: 0;
}
.contianer{
    margin: 0 auto;
    padding: 0 16px;
    width: 100%;
    max-width: 1140px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}